<%- include('layouts/header') %>
    <%- include('layouts/nav') %>
        <h1>This's a home page.</h1>
        <%# const name="Muhammad Pauzi" %>
            <h2>Hallo <strong>
                    <%= name %>
                </strong></h2>

            <h4>List of Users</h4>
            <% if (users.length> 0) { %>
                <% users.forEach(user=> { %>
                    <ul>
                        <li>
                            Name : <%= user.name %>
                        </li>
                        <li>
                            Email : <%= user.email %>
                        </li>
                    </ul>
                    <% }) %>
                        <% } else { %>
                            <p>Users not found.</p>
                            <% } %>
                                <%- include('layouts/footer') %>